<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Backbone Vote Listing</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  </head>
  <body>

    <!-- VoteItem template -->
    <script id="voteItemTemplate" type="text/template">
      <div>
        <h1 class="text-center"><%= title %></h1>
        <span class="text-left"><%= votes %></span>
        <span>
          <!-- Vote up -->
          <i class="glyphicon glyphicon-plus pull-right"></i>
          <!-- Vote down -->
          <i class="glyphicon glyphicon-minus pull-right"></i>
        </span>
      </div>
    </script>

    <!-- VoteItemCollection template -->
    <script id="voteItemContainer" type="text/template">
      <h1>Current Poll</h1>
      <ul id="voteItems"></ul>
    </script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Custom JS -->
  </body>
</html>
